BDDfy.html

.vs/
bin/
obj/
packages/
.DS_Store
/Katas/GildedRose/dotnetcore/GildedRose.Tests/ApprovalTest.ThirtyDays.approved.txt
/Katas/GildedRose/dotnetcore/GildedRose.Tests/ApprovalTest.ThirtyDays.received.txt
